aiohappyeyeballs==2.4.0
aiohttp==3.10.5
aiosignal==1.3.1
altgraph==0.17.4
appdirs==1.4.4
attrs==24.2.0
Brotli==1.1.0
buildozer==1.5.0
certifi==2024.7.4
charset-normalizer==3.3.2
click==8.1.3
clipboard==0.0.4
colorama==0.4.6
contourpy==1.3.0
cycler==0.12.1
decorator==4.4.2
discord.py==2.4.0
distlib==0.3.8
ffpyplayer==4.5.1
filelock==3.14.0
fonttools==4.54.1
frozenlist==1.4.1
future==1.0.0
geocoder==1.38.1
geographiclib==2.0
geopy==2.4.1
GPUtil==1.4.0
idna==3.7
imageio==2.34.2
imageio-ffmpeg==0.5.1
immutable-views==0.6.1
keyboard==0.13.5
kiwisolver==1.4.7
matplotlib==3.9.2
mcschematic==11.4.2
mido==1.3.2
MouseInfo==0.1.3
moviepy==1.0.3
multidict==6.0.5
mutagen==1.47.0
nbtlib==2.0.4
numpy==2.0.1
opencv-python==4.10.0.84
packaging==23.2
pandas==2.2.3
pefile==2023.2.7
pexpect==4.9.0
pillow==10.4.0
platformdirs==4.2.2
proglog==0.1.10
psutil==6.0.0
ptyprocess==0.7.0
PyAutoGUI==0.9.54
pycryptodomex==3.20.0
pydub==0.25.1
pygame==2.6.0
PyGetWindow==0.0.9
pyglet==2.0.17
pyinstaller==6.9.0
pyinstaller-hooks-contrib==2024.8
pymediainfo==6.1.0
PyMsgBox==1.0.9
pynbs==1.1.0
pynput==1.7.7
PyOpenGL==3.1.7
pyparsing==3.1.4
pyperclip==1.8.2
pypiwin32==223
PyRect==0.2.0
PyScreeze==0.1.30
python-dateutil==2.9.0.post0
pytube==15.0.0
pytweening==1.2.0
pytz==2024.2
pywin32==306
pywin32-ctypes==0.2.2
pyWinhook==1.6.2
ratelim==0.1.6
regex==2024.9.11
requests==2.32.3
screeninfo==0.8.1
setuptools==72.1.0
sh==2.0.6
six==1.16.0
tqdm==4.65.0
tzdata==2024.2
urllib3==2.2.2
virtualenv==20.26.2
websockets==13.0
y2mate-api==1.0.6
yarl==1.9.11
yt-dlp==2024.8.6
